@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --brand-color: #ff1541;

  --dark: #0c1324;

  --white: #ffffff;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body > div {
  background-image: url(/image/3.png);
  background-position: center;
  background-size: cover;
  color: white
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
}

header > nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header > nav > ul > li {
  list-style: none;
  margin: 0 1rem;
}

header > div > main {
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #ff1541;
  margin-bottom: 15rem;
}

header div main h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

header div {
  color: #ff1541;
}


